.body {
    background-color: rgb(24, 201, 24);
}

.green {
    background-color: rgb(146, 219, 36);
    border: solid;
    border-color: rgba(250, 252, 249, 0.979);
    width: 450px;

}

.div {
    background-color: rgb(188, 241, 80);
    border: solid white;
    width: 500px; 
    height: 1250px;
}

#border {
    border-radius: 5px;
    padding: 5px;
    border: 2px solid white;
}

.border {
    border-radius: 5px;
    padding: 5px;
    border: solid white;
}

.writing {
    text-align: left;
}

.border1{
    border: 2px solid white;
    border-radius: 12px;
    padding: 5px;
}


#button {
      background-color: rgb(30, 156, 30);
      color: white;
}

